<h1>Eat da Burger</h1>
On the shelf:
<ul>
    {{#each exist}}
    <li>
        <p>
             {{this.id}}.{{this.burger_name}}
                <form class="devour-form button-size">
					<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
					<button type="submit" class="btn btn-default">Devour it!</button>
				</form>
       
        </p>
    </li>
    {{/each}}
</ul>

Eaten:
<ul>
    {{#each eaten}}
    <li>
        <p>
             {{this.id}}.{{this.burger_name}}   
        </p>
    </li>
    {{/each}}
</ul>

<form id="createburger" class="button-size">
   <textarea type="text" name="burger"></textarea>
   <button type="submit">Submit</button>
   <p>Enter a burger you want to eat Click the "Submit" button</p>
</form>

<script type="text/javascript">
    $("#createburger").on("submit",function(event){
        event.preventDefault();
        
        var newBurger = {
            burger:$("#createburger [name=burger]").val().trim()
        }; 
        console.log(newBurger);

        $.post("/", newBurger, function(){
            location.reload(true);  
        });  
    });

    $(".devour-form").on("submit",function(event){
       event.preventDefault();

       var burger_id = $(this).children(".burger_id").val();
       console.log(burger_id);
       $.ajax({
           method: "PUT",
           url: "/burgers/" + burger_id
       }).then(function(data){
           location.reload();
       });


       
    });
</script>


